<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.ken.ResearchHub</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>researchhub</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram</string>
		<string>barcelona</string>
		<string>youtube</string>
		<string>twitter</string>
		<string>snssdk1128</string>
		<string>fb</string>
		<string>reddit</string>
		<string>line</string>
		<string>discord</string>
		<string>tg</string>
		<string>whatsapp</string>
		<string>twitch</string>
		<string>netflix</string>
		<string>spotify</string>
		<string>pinterest</string>
		<string>snapchat</string>
		<string>linkedin</string>
		<string>bilibili</string>
		<string>xhsdiscover</string>
		<string>weibo</string>
		<string>ptt</string>
		<string>dcard</string>
		<string>shopee</string>
		<string>momoshop</string>
		<string>nflx</string>
	</array>
</dict>
</plist>
